
 <div class="header">Angular Tree Grid</div>

 <div class="editor">
   <a href="https://stackblitz.com/edit/angular-tree-grid">Edit in stackblitz</a>
 </div>
 <div class="documentation">
   <a href="https://github.com/debabratapatra/angular-tree-grid">Documentation</a>
 </div>
 <div class="body">
   <table>
    <tr>
      <td class="left-panel">
        <ul>
          <li>
            <a href="basic_tree_grid">Basic Tree Grid</a>
          </li>
          <li>
            <a href="add_edit_delete">Add, Edit and Delete</a>
          </li>
          <li>
            <a href="cond_row_edit">Conditional Row Edit, Delete and CSS Class</a>
          </li>
          <li>
            <a href="custom_view_component">Custom View Component</a>
          </li>
          <li>
            <a href="custom_edit_component">Custom Editor Component</a>
          </li>
          <li>
            <a href="resolve_row_add">Resolve Row Add/Edit/Delete</a>
          </li>
          <li>
            <a href="filter_column">Filter</a>
          </li>
        </ul>
      </td>
      <td class="content">
        <router-outlet></router-outlet>
      </td>
    </tr>
  </table>
  <db-angular-tree-grid [data]="data" [configs]="configs" (expand)="onExpand($event)"></db-angular-tree-grid>
 </div>