
 <div class="header">
  <div class="navigator">
      <a href="https://debabratapatra.github.io/" class="navigator-btn">Home</a>
      <a href="https://github.com/debabratapatra/ngtreegrid" class="navigator-btn" target="_blank">Docs</a>
      <a href="https://stackblitz.com/edit/ng-tree-grid" class="navigator-btn" target="_blank">Edit in Stackblitz</a>
      <a href="https://debabratapatra.github.io/about.html" class="navigator-btn">About Me</a>
  </div>
</div>
 <div class="title-header">Angular Tree Grid</div>
 <div class="body">
   <table>
    <tr>
      <td class="left-panel">
        <ul>
          <li>
            <a href="#/basic_tree_grid">Basic Tree Grid</a>
          </li>
          <li>
            <a href="#/add_edit_delete">Add, Edit and Delete</a>
          </li>
          <li>
            <a href="#/cond_row_edit">Conditional Row Edit, Delete and CSS Class</a>
          </li>
          <li>
            <a href="#/custom_view_component">Custom View Component</a>
          </li>
          <li>
            <a href="#/custom_edit_component">Custom Editor Component</a>
          </li>
          <li>
            <a href="#/resolve_row_add">Resolve Row Add/Edit/Delete</a>
          </li>
          <li>
            <a href="#/filter_column">Filter</a>
          </li>
        </ul>
      </td>
      <td class="content">
        <router-outlet></router-outlet>
      </td>
    </tr>
  </table>
 </div>